
#navlist li
{
font-size: 120%;
display: inline;
list-style-type: none;
padding-right: 20px;
}


div.blocktext {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.cpojer-links a	{
	text-decoration: none;
	display: inline-block;
	padding: 4px;
	outline: 0;
	color: #3a599d;
	transition-duration: 0.25s;
	transition-property: transform;
	transform: scale(1) rotate(0);
}
.cpojer-links a:hover {
	background: #3a599d;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	transform: scale(1.05) rotate(-1deg);
}
.cpojer-links a:nth-child(2n):hover {
  transform: scale(1.05) rotate(1deg);
}